*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    padding: 30px;

    .main {
        width: 100%;
        max-width: 1400px;

        .heading {
            font-size: 32px;
            font-weight: 900;
            text-align: center;
        }

        .topSection {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;

            .fetchDataButton {
                height: 50px;
                overflow: hidden;
            }

            .scrollIndicatorSection {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 30px;
                background-color: #000;

                .scrollToggle {
                    position: relative;
                    height: 100%;
                    width: 0;
                    background-color: red;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                }
            }
        }

        .output {
            margin-top: 30px;

            .item {
                padding: 15px;
                margin: 2px;
                background-color: #000;
                color: #fff;

                .idAuthor {
                }

                .quote {
                    font-size: 20px;
                    font-weight: 900;
                }
            }
        }
    }
}
